#intro {
    width: 100%;
    height: max-content;
    position: relative;
    background-image: url('/intro.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#intro h1 {
    color: yellowgreen;
    font-size: 2.4rem;
    font-weight: 900;
    line-height: 3rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    max-width: 60rem;
}

#intro ul {
    font-size: 3rem;
    line-height: 3.2rem;
    font-weight: 900;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 1rem;
    color: darkgoldenrod;
    font-family: 'Trebuchet MS';
    max-width: 60rem;
}

#intro:last-child {
    margin-bottom: 30px;
}

#reason {
    width: 100%;
    background-color: rgb(230, 245, 235);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#why-here {
    padding-top: 50px;
    padding-bottom: 10px;
    width: 457px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#why-here>h1 {
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 1.6rem;
}

#why-here>h2 {
    font-weight: 400;
    font-size: 0.8rem;
}

#features {
    width: calc(100% - 120px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 44px;
}

#features .img-container {
    width: 67px;
    height: 66px;
    border-radius: 20px;
    background-color: #F2F6FE;
    display: flex;
    align-items: center;
    justify-content: center;
}

#register {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    background-color: green;
    color: white;
    border-radius: 10px;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 20px;
}

.reason-elem {
    width: 100%;
    height: auto;
}

.reason-elem h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 42px;
}

.reason-elem p {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
}

#objectives {
    width: 100%;
    background-color: rgb(235, 240, 245);
    padding: 50px;
}

#objectives>h2 {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
}

#objectives>p {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

#objectives-container, #sdg-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.objective-elem h2 {
    font-size: 1.35rem;
    font-weight: 600;
}

#alignments-container {
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.alignment-elem {
    width: 96px;
    background-size: cover;
    background-color: aquamarine;
}

.sdg {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.sdg h2 {
    font-size: 1rem;
    font-weight: 700;
}

.sdg img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.sdg-container img {
    width: 100px;
    height: 100px;
}

#testimony {
    width: 100%;
    padding: 50px;
    background-color: #052326;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#testimony>img {
    width: 270px;
    height: 291px;
}

#testimony>.parent-testimony {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
}

#testimony>.parent-testimony>.parent-words {
    font-weight: 700;
    font-size: 2.2rem;
}

#testimony>.parent-testimony>.parent-name {
    font-weight: 400;
    font-size: 1.1rem;
}

#services {
    width: 100%;
    padding: 50px;
    background: #006E90;
}

#services>h2 {
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
    color: white;
}

.services-container {
    list-style-image: url('/check.png');
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-left: 150px;
    gap: 30px;
}

.service-elem {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2rem;
    color: white;
    padding-top: 10px;
}

#motivation {
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 50px;
}

#motivation>h2 {
    font-weight: 900;
    font-size: 1.8rem;
}

@media (max-width: 768px) {
    #features {
        width: calc(100% - 45px);
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 45px;
    }

    .reason-elem {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #testimony {
        flex-direction: column-reverse;
        gap: 30px;
    }

    #testimony>.parent-testimony {
        flex-direction: column-reverse;
    }

    #testimony>.parent-testimony>.parent-words {
        font-weight: 600;
        font-size: 2rem;
    }
    
    #testimony>.parent-testimony>.parent-name {
        font-weight: 400;
        font-size: 1rem;
        text-align: center;
    }

    #intro h1 {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    #intro ul {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    #objectives, #services, #testimony, #motivation {
        padding: 30px;
    }

    #objectives-container { 
        flex-direction: column;
    }

    #sdg-container {
        flex-wrap: wrap;
    }

    #alignments-container {
        justify-content: space-between;
    }

    .services-container {
        padding-left: 50px;
    }
}